h1
{
    color:red;
}
body{
    background-color: aquamarine;
}
.abc
{
    font-size: 100px;
    text-transform: uppercase;
    text-align: center;
}
#one
{
    font-family: Arial, Helvetica, sans-serif;
}
.h1
{
    font-size: 60px;
    text-align: center;
    text-shadow: 0px 5px 5px black;
    color:white;
    
}